.actuCardContainer {
  width: 370px;
  min-width: 236px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 4px 15px rgba($color: #000000, $alpha: 0.15);
  transition: all 1s ease-in-out;
  .imgWrapper {
    position: relative;
    height: 60%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      aspect-ratio: 1 / 1;
    }
    &::after {
      content: "➔";
      color: #fff;
      font-size: 30px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #0087b5;
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;
    }
  }
  &:hover .imgWrapper::after {
    opacity: 0.8;
  }
  h3.actuTitle,
  p.actuText {
    // width: 80%;
    // margin: auto;
    padding: 0 20px 20px 20px;
  }
}

@media screen and (max-width: 768px) {
  .actuCardContainer {
    min-height: auto;
    max-height: 293px;
    gap: 10px;
    margin-bottom: 20px;
    .imgWrapper {
      height: 40%;
    }
    h3.actuTitle,
    p.actuText {
      padding: 0 20px;
    }
  }
}
