.advantagesContainer {
  width: 82%;
  max-width: 1170px;
  margin: auto;
  height: max-content;
  display: flex;
  padding-bottom: 50px;

  .advantagesCards {width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    height: max-content;
  }
}

@media screen and (max-width: 992px) {
  .advantagesContainer {
    width: 100%;padding: 0 20px;
    padding-bottom: 40px;
    .advantagesCards {
      gap: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
   .advantagesContainer {
     .advantagesCards {
       flex-direction: column;
     }
   }
}