.advantageCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 350px;
  height: 140px;
  border: 1px solid #d2d8db;
  border-radius: 5px;
  padding: 30px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  i {
    color: #76b82a;
    font-size: 35px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebf8e7;
    aspect-ratio: 1 / 1;
  }
  p {
    font-weight: bold;
    font-size: 18px;
    width: 70%;
  }
  &:hover {
    border-color: #76b82a;
  }
}
