.housingSelectionContainer {
  display: flex;
  flex-direction: column;
  .housingSelectionWrapper {
    width: 82%;
    max-width: 1170px;
    height: max-content;
    margin: auto;

    flex-direction: column;
    gap: 30px;
    padding: 50px 0;
    position: relative;

    h2 {
      text-transform: capitalize;
      font-size: 50px;
      font-weight: 500;
      position: relative;
      margin-bottom: 50px;
      &::after {
        position: absolute;
        content: "";
        bottom: -10px;
        left: 0;
        width: 40px;
        height: 4px;
        background-color: #76b82a;
      }
    }
    h3 {
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;

      p.more {
        color: #00739a;
        font-weight: bold;
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 5px;
        font-size: 14px;
        text-transform: none;
        &:hover {
          transition: all 0.2s ease-in-out;
          text-decoration: underline;
          color: #116081;
        }
        svg {
          font-weight: bold;
        }
      }
    }
    .housingSelectionCards {
      display: flex;
      gap: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .housingSelectionContainer {
    .housingSelectionWrapper {
      padding: 20px;
      width: 100%;
      .housingSelectionCards {
        overflow-x: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      h2 {
        font-size: 24px;margin-bottom: 20px;
      }
      h3 {
        font-size: 18px;
      }
    }
  }
}
