.newsContainer {
  width: 100%;
  padding-bottom: 200px;
  .newsWrapper {
    ul.ariane {
      max-width: 1170px;
      display: flex;
      margin-inline: auto;
      margin-bottom: 30px;
      color: #75797a;
      font-size: 11px;
      list-style-type: none;
      gap: 8px;
      align-items: center;
      a {
        color: #75797a;
      }
    }
    h2 {
      gap: 10px;
      font-size: 50px;
      font-weight: 500;
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 32px;
      font-weight: bold;
      max-width: 1170px;
      margin-inline: auto;
      .line {
        width: 30px;
        height: 4px;
        background-color: #76b82a;
      }
    }
    button.actuSearch {
      display: none;
    }
    .newsSearchWrapper {
      background-color: #deeeed;
      margin-bottom: 32px;
      height: 100%;
      .newsSearch {
        margin: auto;
        padding: 20px 20px 20px 0;
        display: flex;
        gap: 15px;
        width: 100%;
        max-width: 1170px;
        justify-content: flex-start;
        input,
        select {
          padding-inline: 20px;
          height: 60px;
          border-radius: 8px;
          border: 1px solid #d2d8db;
          transition: 0.2s ease-in-out;
          &:focus {
            outline: 1px dashed #3d3d3d;
            border: 1px solid #3d3d3d;

            outline-offset: 2px;
          }

          &:hover {
            border-color: #3d3d3d;
          }
        }
        select {
          cursor: pointer;
        }
        button {
          background-color: #00739a;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 60px;
          height: 60px;
          border: none;
          border-radius: 50%;
          color: #fff;
          font-size: 25px;
          cursor: pointer;
          transition: 0.2s ease-in-out;
          &:hover {
            background-color: #0b4d67;
          }
        }
        .searchBtnWrapper {
          flex: 1;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
    .newsCardsWrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
      grid-gap: 15px;
      max-width: 1170px;
      margin: auto;
    }
    .results {
      max-width: 680px;
      width: max-content;
      margin: 50px auto;
      display: flex;
      align-items: center;
      gap: 80px;
      .totalResults {
      }
      .pagination {
        display: flex;
        list-style-type: none;
        gap: 5px;
        li {
          width: 40px;
          height: 40px;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #00739a;
          font-weight: bold;
          transition: 0.2s ease-in-out;
          cursor: pointer;
          &:hover {
            background-color: #deeeed;
          }
          &.active {
            color: #004d67;
            text-decoration: underline;
            &:hover {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .newsContainer {
    width: 100%;
    padding-bottom: 50px;
    .newsWrapper {
      ul.ariane {
        display: none;
      }
      h2 {
        font-size: 24px;
      }
      button.actuSearch {
        display: block;
        width: fit-content;
        background-color: #00739a;
        color: #fff;
        border: none;
        margin: 0 0 30px 15px;
        border-radius: 40px;
        height: 45px;
        font-size: 14px;
        font-weight: bold;
        padding-inline: 20px;
        &:hover {
          background-color: #0b4d67;
        }
      }
      .newsSearchWrapper {
        display: none;
        transition: 1.2s ease-in-out;
        .newsSearch {
          flex-direction: column;
          padding: 15px;
          button {
            width: 100%;
            border-radius: 40px;
            height: 45px;
            font-size: 14px;
            font-weight: bold;
            padding-inline: 20px;
            display: flex;
            gap: 10px;
            svg {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
      .visible {
        display: flex;
      }
      .newsCardsWrapper {
        display: flex;
        flex-direction: column;
        padding: 15px;
        width: 100%;
        transition: 1.2s ease-in-out;

        .actuCardContainer {
          width: 100%;
        }
      }
      .results {
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}
