.footer {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
  padding: 20px;
  position: absolute;
  right: 50%;
  transform: translate(50%);
  // bottom: 0;
  .footer-haut {
    display: flex;
    align-items: flex-start;
    .logo {
      margin-right: 80px;
    }
    .footer-haut-centre {
      width: 35%;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      .paragraphe {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        span{
            font-weight: bold;
        }
      }
      .more {
        color: #00739a;
        font-weight: bold;
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 5px;
        font-size: 14px;
        text-transform: none;
        text-decoration: underline;
        width: fit-content;
        &:hover {
          transition: all 0.2s ease-in-out;
          color: #116081;
        }
      }
      .visible{
        display: block;
      }
      .hidden{
        display: none;
      }
    }
    .footer-haut-droit {
      margin-left: auto;
      margin-right: 110px;
      h4 {
        color: #00415a;
        margin-bottom: 10px;
      }
      ul li {
        list-style-type: none;
        padding: 5px 0;
        cursor: pointer;
        color: #3d3d3d;
      }
    }
  }
}
