@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: Montserrat;
  /* max-width: 1440px; */
  /* min-height: 98vh; */
  /* margin: auto; */
  /* position: relative; */
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }
}